/* best used with ublock origin */

/*
NOTE: the canvas element that has the actual
  photo editing stuff still assumes the cropped UI,
  so anything on the right will just Not render,
  making the UI widening stuff kinda useless.
  sorry chat
  (at some point I'll look into writing
    a userscript that fixes this)
*/

.body,
.flexrow.storageset,
.cmanager + div,
.flexrow.app > div:first-child,
.flexrow.app > .flexrow,
.panelblock.mainblock,
.flexrow.storageset > div:last-child,
.flexrow.storageset > div:last-child > div {
  width: 100% !important;
}

.panelhead {
  max-width: revert !important;
}

.scrollable {
  overflow-y: auto;
}

.flexrow.storageset > div:first-child {
  padding-top: 0 !important;
  & > div {
    width: 138px;
  }
}
@media only screen and (max-width: 1029px) {
  .flexrow.storageset > div:first-child > div {
    width: 24px;
  }
}

.flexrow.app > div:last-child {
  display: none !important;
}

body {
  overscroll-behavior: none;
}